@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgb(32, 32, 32);
    min-width: 550;
}

.container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
}

.container>.nav-left {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100vh;
    width: 17%;
    border-right: solid 2px grey;
    margin: 5px;
}

.container>.nav-left>ul>li,
.container>.nav-left>ul>li>a {
    text-decoration: none;
    color: rgb(143, 143, 143);
    font-size: 18px;
    padding: 7.5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container>.nav-left>ul>li>a>i {
    margin-right: 7.5px;
    font-size: 20px;
}

.container>.nav-left>ul>li>a:hover>i,
.container>.nav-left>ul>li>a:hover>p {
    color: white;
    transition: ease 1.5s;
    font-weight: 450;
}

.container>.home {
    padding-top: 10px;
    padding-left: 17%;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
    height: 200vh;
    width: 83%;
}

.container>.home>center>h1>span {
    text-decoration: underline;
}

/*home*/
.home>center>.welcome-window {
    background-color: transparent;
    padding: 10px;
    padding-top: 7.5px;
    margin-bottom: 5px;
    border-radius: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home>center>.welcome-window>.title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.home>center>.welcome-window>.title-row>.title-row-left>h1 {
    font-size: 45px;
}

.container>.home>center>.welcome-window>.title-row>.title-row-right>.github,
.container>.home>center>.welcome-window>.title-row>.title-row-right>.snap {
    padding: 5px 7.5px;
    margin: 0px 2.5px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 22.5px;
    font-weight: bold;
}

.container>.home>center>.welcome-window>.title-row>.title-row-right>.github:hover,
.container>.home>center>.welcome-window>.title-row>.title-row-right>.snap:hover {
    background-color: white;
    color: rgb(32, 32, 32);
    transition: all 1.35s ease;
}

.home>center>.welcome-window>.text-welcome,
.home>center>.welcome-window>.more {
    padding: 5px 0px;
    font-size: 15px;
    text-align: left;
}

.home>center>.welcome-window>.working-style-con {
    text-align: left;
    padding: 10px 0px;
    margin-top:20px;
    width: 90%;
}

.home>center>.welcome-window>.working-style-con>ol {
    margin: 10px 15px;
}

.home>center>.welcome-window>.working-style-con>ol>li {
    margin: 2.5px 0px;
    padding: 0;
    font-size: 15px;
}

.home>center>.welcome-window>.working-style-con>ol>li:hover {
    transition: all 1.2s ease;
    transform: scale(1.10);
}


@media(max-width:650px) {
    .container {
        font-size: 12px;
    }

    .container>.home {
        width: 100%;
    }

    .container>.nav-left {
        display: none;
    }

    .container>.home {
        margin-left: 0;
        padding-left: 0;
    }
}

@media(max-width:780px) {
    .container>.nav-left>ul>li>a>p {
        display: none;
    }

    .container>.nav-left>ul>li>a>i {
        font-size: 22.5px;
        margin: 10px 0px;
        font-size: 28px;
    }

    .container>.home>center>.welcome-window {
        padding-left: 15px;
        margin-left: 0;
    }
}

/*
@media(max-width:2560px) {
    h1{
        font-size:45px;
    }

    p, a{
        font-size:30px;
    }

    .container>.nav-left>ul>li>a>i{
        font-size: 35px;
    }
}
*/
